@import '../../mediaQueries';

header {
  position: relative;
  background-color: #222;
  padding: 2em 2em 0 2em;
  color: white;
  min-height: auto;
  // .navbar {
  //   position: absolute;
  //   top: auto;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  // }
}