@import '../styles';

.characterSummary.Malifaux{
  margin-bottom: 1em;
  .summaryDataPair {
    .row{
      justify-content: center;
    }
    .name {
      background: $block-name-background-colour;
      color: $block-text-colour;
    }
    .value {
      background: $block-value-background-colour;
      border: $block-border-width $block-border-style $block-border-colour;
    }
  }
}