$block-name-background-colour: rgb(0, 0, 0);
$block-value-background-colour: rgb(236, 218, 180);
$block-text-colour: rgb(241, 200, 103);

$block-border-width: 0.05em;
$block-border-style: solid;
$block-border-colour: rgb(0, 0, 0);


$background-colour: rgb(241, 200, 103);