@import '../styles';
@import '../../../styles';
@import '../../../../mediaQueries';

$standard-padding-small: 0.25em;
$standard-padding-large: 0.5em;

$edit-width: 100%;

.characterSheet.Malifaux {
  flex-grow: 1;
  margin-top: $standard-margin-top;
  padding: $container-padding;
  background-color: $background-colour;
  @media (min-width:$mediaquery-medium) {
    .leftPanel {
      padding-left: 0;
      padding-right: $standard-padding-large;
    }
    .rightPanel {
      padding-left: $standard-padding-large;
      padding-right: 0;
    }
  }
  .blockHeader {
    font-family: $block-name-font-family;
    align-items: flex-end;
    margin: 0;
    .standOut {
      font-size: 2em;
      align-self: flex-start;
      justify-content: center;
    }
    .standOutFooter {
      align-items: flex-start;
      justify-content: center;
      span {
        display: inline-block;
        position: relative;
        width:100%;
      }
      span:before, span:after {
        content: "";
        position: absolute;
        height: 0.5em;
        border-bottom: 1px solid;
        top: 0;
        width: 25%;
      }
      span:before {
        right: 50%;
        margin-right: 15px;
      }
      span:after {
        left: 50%;
        margin-left: 15px;
      }
    }
    .subHeader{
      padding-bottom: 0.5em;
      &.left {
        clear: right;
      }
      &.right {
        clear: left;
      }
    }
  }
  .characterSummary {
    padding: 0;
    margin-bottom: 1em;
    .row {
      margin: 0;
    }
    .panel {
      display: flex;
      flex-direction: column;
      @media (max-width:$mediaquery-medium) {
        padding: 0;
      }
      > .row {
          flex: 1;
      }
    }
    .summaryDataPair {
      @extend %block-pair;
      display: flex;
      flex-direction: column;
      padding: 0;
      .row{
        justify-content: center;
      }
      .name {
        @extend %block-name;
        height: 50%;
      }
      .value {
        @extend %block-value;
        height: 50%;
        width: 100%;
      }
    }
    .destinyStepsFulfilled {
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  .characterStats, .characterDerivedStats {
    .characterStatsTable{
      margin: 0
    }
    .statDataPair {
      padding: $standard-padding-small;
      .name {
        @extend %block-name;
        text-align: left;
      }
      .value {
        @extend %block-value;
        padding: 0;
      }
      &.subItem {
        padding-top: 0;
        margin-top: -$standard-padding-small;
        padding-left: 25%;
      }
    }
    .currentWounds, .maxWounds {
      justify-content: center;
      width: 100%;
    }
    @media (max-width: $mediaquery-small) {
      .statDataPair .name {
        padding-left: 0.25em;
      }
    }
  }
  .characterSkills {
    .skillsView {
      padding-top: $standard-padding-small;
      margin: 0;
      .skillsViewHeader {
        @extend %block-name;
        align-content: center;
        height: 2em;
        .dropdown {
          * {
            width: 100%;
            text-align: left;
          }
          button.dropdown-toggle {
            @extend %block-name;
          }
          button.dropdown-toggle:after {
            position: absolute;
            top: 45%;
            right: 1em;
          }
          .dropdown-menu {
            @extend %block-value;
          }
        }
        .toggleCollapse {
          padding-top: 0.25em
        }
      }
      .skillsViewTable {
        padding: 0;
      }
      .skillsHeader {
         @extend %block-name;
         text-align: center;
         width: 100%;
         margin: 0;
         .skillsGroupToggleIcon {
          position: absolute;
          top: 45%;
          right: 1em;
         }
         .skillsHeaderValue {
          padding: 0;
          &.name {
            text-align: left;
            padding-left: 1em;
          }
         }
      }
      .skill, .skillValue {
        @extend %block-value;
        width: 100%;
        padding: 0;
        &.name {
          text-align: left;
          padding-left: 1em;
        }
        &.triggers {
          >.row{
            margin:0;
          }
          .addTrigger{
            padding: 0;
          }
        }
      }
      .skill {
        margin: 0;
      }
      .skillsViewFooter {
        @extend %block-name;
        text-align: right;
        width: 100%;
        margin:0
      }
      .skillsViewToggle {
        @extend %block-name;
        justify-content: flex-end;
        padding: $standard-padding-small;
        * {
          margin: 0 $standard-padding-small;
        }
        .switchContainer {
          width: 25%;
          .switchBar.off {
            background-color: $background-colour;
          }
        }
      }
    }
  }
}
.addSkillModalMalifaux {
  .input-group {
    padding-top: $standard-padding-small;
    .input-group-prepend {
      width: 40%;
      .input-group-text {
        @extend %block-name;
      }
    }
    .form-control {
      @extend %block-value;
    }
  }
}
.popoverEditor {
  .popover-header {
    @extend %block-name;
  }
  .popover-body, input.editing {
    @extend %block-value
  }
}
.modal-dialog {
  .modal-header {
    @extend %block-name;
    .suitIcon {
      fill: $block-name-text-colour;
      font-size: 150%;
      vertical-align: -15%;
      margin-right: 0.5em;
    }
  }
  .modal-body, .modal-footer {
    @extend %block-value;
    text-align: justify;
  }
  .modal-body {
    border-bottom: 0;
  }
  .modal-footer {
    border-top: 0;
  }
}
.modal-body {
  .addTriggerSet {
    margin-top: $standard-padding-small;
    .suitSelection {
      @extend %block-value;
      margin: 0;
      padding: 0 $standard-padding-small;
      align-items: center;
      flex-grow: 1;
      justify-content: space-evenly;
      * {
        padding: 0;
      }
      .suitPair>label {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .suitIcon {
        font-size: 200%;
      }
    }
  }
}