$block-border-radius: 0.5em;

$block-name-background-colour: rgb(255, 255, 255);
$block-value-background-colour: rgb(255, 255, 255);

$block-border-width: 0.05em;
$block-border-style: solid;
$block-border-colour: rgb(0, 0, 0);

$secondary-block-border-width: 1px;
$secondary-block-border-style: solid;
$secondary-block-border-colour: rgb(206, 212, 218);

$emphasised-block-border-width: 0.1rem;

$group-background-colour: rgb(220, 221, 223);
$group-padding: 0.75em;
$sub-padding: 0.25em;

%input-form-block {
  border: $secondary-block-border-width $secondary-block-border-style $secondary-block-border-colour;
  border-radius: 0.25rem;
}

%backed-group {
  background: $group-background-colour;
  padding: $group-padding;
  margin: $group-padding;
  border-radius: $block-border-radius;
}

%block {
  border: $block-border-width $block-border-style $block-border-colour;
  border-radius: 1rem;
}
%emphasised-block {
  border: $emphasised-block-border-width $block-border-style $block-border-colour;
  border-radius: 1rem;
}
%derivedStat-block {
  display: flex;
  align-items: center;
  height: 3em;
  margin-bottom: 1%;
  .value {
    height: 100%;
    padding: 0;
    @extend %emphasised-block;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    .editable, .editing {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 25%;
    }
  }
  .title {
    @extend %emphasised-block;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    font-size: 75%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

$background-colour: rgb(255, 255, 255);

%with-scroll-bar {
  &::-webkit-scrollbar {
    width: 5px;
    height: 100%;
    border: 1% $block-border-style $secondary-block-border-colour;
  }
  &::-webkit-scrollbar-track {
    margin-top: 1%;
  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
  }
  &::-webkit-resizer, & *::-webkit-resizer {
    display: none;
  }
}