$bar-height: 0.25em;
$toggle-value: 0.6em;

.switchContainer {
  width: 100%;
  display: inline-block;
  .switchBar {
    border: 1px solid #000;
    width: 100%;
    height: $bar-height;
    border-radius: 13px;
    cursor: pointer;
    position: relative;
    top: 50%
  }

  .switchBar.on {
    background-color: green;
  }
  
  .switchToggle {
    border: 1px solid #999;
    box-shadow: 1px 1px 1px #ccc;
    width: $toggle-value;
    height: $toggle-value;
    top: -(($toggle-value/2)+($bar-height/2));
    border-radius: 1em;
    background: white;
    position: relative;
    transition: left .2s ease-in-out;
    .toggleSubIcon {
      font-size: $toggle-value/2;
      position: absolute;
      top: 25%;
      left: 22%;
    }
  }
  .switchToggle.off {
    left: 0;
  }
  .switchToggle.on {
    left: calc(100% - (#{$toggle-value}));
  }
}