@import '../styles';
@import '../../../styles';
@import '../../../../mediaQueries';

$modifier-border-radius: 2em;

.characterSheet.DnD {
  flex-grow: 1;
  margin-top: $standard-margin-top;
  padding: $container-padding;
  background-color: $background-colour;
  .primaryColumn {
    padding: 0 $sub-padding;
    display: flex;
    flex-direction: column;
  }
  .characterSummary {
    margin-bottom: 1em;
    .summaryDataPair {
      margin-left: 0.5em;
      margin-right: 0.5em;
      .name {
        background: $block-name-background-colour;
        font-size: 0.6em;
      }
      .value {
        background: $block-value-background-colour;
        border-bottom: $block-border-width $block-border-style $block-border-colour;
      }
    }
    .summaryDataPair.Character.Name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .value {
        font-size: 1.5em;
        .editableIcon {
          font-size: 0.4em;
          top: 45%;
        }
      }
    }
    @media(min-width: $mediaquery-small){
      .summaryDataPair.Class {
        margin-right: 0;
      }
      .summaryDataPair.Level {
        margin-left: 0
      }
    }
    @media (max-width: $mediaquery-small) {
      .summaryDataPair {
        .name, .value {
          justify-content: flex-end
        }
      }
    }
  }
  .characterStats {
    @extend %backed-group;
    flex-grow: 1;
    justify-content: space-around;
    .statDataPair {
      height: fit-content;
      background: $block-value-background-colour;
      @extend %emphasised-block;
      @media (max-width: $mediaquery-small) {
        margin: ($group-padding/4);
      }
      @media (min-width: $mediaquery-small) and (max-width:$mediaquery-medium) {
        margin: $group-padding;
      }
      * {
        justify-content: center;
      }
      .name {
        font-size: 60%;
        font-weight: bold;
        padding-top: 0.6em;
      }
      .value {
        font-size: 180%;
      }
      .modifier {
        padding: 0;
        border: $block-border-width $block-border-style $block-border-colour;
        border-radius: $modifier-border-radius;
        max-width: 2em;
        font-size: 0.9em;
      }
    }
    @media (min-width: $mediaquery-small) {
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  .characterBonusesAndSkills {
    margin: $group-padding 0;
    >.row {
      height: 100%;
      margin: 0;
    }
    .characterBonuses {
      .proficiencyBonusBlock, .inspirationBlock {
        @extend %derivedStat-block;
      }
      .savingThrowsBlock {
        height: 60%;
      }
    }
    .characterSkills, .savingThrowsBlock {
      @extend %emphasised-block;
      font-size: 80%;
      padding: $group-padding 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .skill {
        width: 100%;
        .proficiencyCol {
          cursor: pointer;
          .proficiencyIcon {
            font-size: 60%;
            vertical-align: middle;
          }
        }
        .modifier {
          padding: 0;
          text-align: right;
          border-bottom: $block-border-width $block-border-style $block-border-colour;
        }
        .name {
          text-align: left;
        }
      }
    }
    @media (min-width: $mediaquery-small) {
      .characterBonuses {
        height: 40%;
      }
      .characterSkills {
        height: 59%;
        margin-top: 1%;
      }
    }
    @media (max-width: $mediaquery-small) {
      .characterBonuses {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        .row {
          margin-right: -$group-padding;
        }
        .inspirationBlock {
          height: 15%;
        }  
        .proficiencyBonusBlock {
          height: 20%;
        }
        .savingThrowsBlock {
          height: 45%;
        }
      } 
    }
  }
  .characterDefences {
    padding: 0;
    height: fit-content;
    &>.row {
      margin: 0;
      padding: 0 $group-padding;
    }
    @extend %backed-group;
    margin-left: 0;
    margin-right: 0;
    padding: $group-padding 0;
    .topRow {
      justify-content: space-between;
      .defencePair {      
        background: $block-value-background-colour;
        @extend %emphasised-block;
        display: flex;
        flex-direction: column;
        padding: 0;
        padding-bottom: 0.25em;
        max-width: 30%;
        >.row{
          margin: 0;
        }
        .value {
          font-size: 180%;
          justify-content: center;
        }
        .title {
          font-size: 60%;
          justify-content: center;
          flex-grow: 1;
          align-items: center;
          font-weight: bold;
        }
        &.armourClass {
          $border-bottom-ac-radius: 100%;
          border-bottom-left-radius: $border-bottom-ac-radius;
          border-bottom-right-radius: $border-bottom-ac-radius;
        }
      }
    }
    .defenceBlock {
      @extend %emphasised-block;
      background-color: $block-value-background-colour;
      .header {
        .title {
          font-size: 80%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-end;
          padding: 0 0 0 0.25em;
        }
        .value {
          border-bottom: $block-border-width $block-border-style $block-border-colour;
          justify-content: center;
          padding: 0;
        }
      }
      .currentNumberHitDice {
        display: flex;
      }
      &>.value {
        font-size: 180%;
        justify-content: center;
      }
      &>.title {
        justify-content: center;
        font-size: 60%;
        font-weight: bold;
      }
      &.top {
        margin-top: $group-padding;
        margin-bottom: 0.25em;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      &.bottom {
        margin-bottom: $group-padding;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      &.left {
        margin-left: 0.25em;
        margin-right: 0.125em;
      }
      &.right {
        margin-left: 0.125em;
        margin-right: 0.25em;
      }
      .saveTitleRow {
        height: 40%;
        align-items: center;
        .saveTitle {
          padding: 0;
          font-size: 60%;
          display: flex;
          justify-content: flex-end;
          padding-right: 0.25em;
        }
        .saveMarks {
          padding: 0;
          .row {
            margin: 0;
          }
          .saveMark {
            padding: 0;
            font-size: 80%;
          }
        }
      }
    }
  }
  .passivePerceptionBlock {
    @extend %derivedStat-block;
  }
  .characterPersonalCharacteristics {
    @extend %backed-group;
    margin-left: 0;
    margin-right: 0;
    >.row {
      margin: 0;
    }
    .characteristicPair{
      @extend %emphasised-block;
      @extend %with-scroll-bar;
      border-radius: 0;
      background-color: $block-value-background-colour;
      height: 6em;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: $sub-padding;
      .value {
        flex-grow: 1;
        overflow-y: auto;
        overflow-x: hidden;
        height: fit-content;
        max-height: 5em;
        border-bottom: $secondary-block-border-width $secondary-block-border-style $secondary-block-border-colour;
        @extend %with-scroll-bar;
        .editable {
          white-space: pre-wrap;
          justify-content: center;
          min-height: fit-content;
        }
        .editing {
          width: 100%;
        }
        .editable, .editing {
          display: flex;
          flex-grow: 1;
          height: 100%;
          margin: 0;
          @extend %with-scroll-bar;
          align-items: center;
        }
      }
      .title {
        justify-content: center;
        font-size: 60%;
        font-weight: bold;
      }
      &.first,  &.first * {
        border-top-left-radius: $block-border-radius;
        border-top-right-radius: $block-border-radius;
      }
      &.last {
        border-bottom-left-radius: $block-border-radius;
        border-bottom-right-radius: $block-border-radius;
        margin-bottom: 0;
      }
    }
  }
  .characterWallets {
    @extend %backed-group;
    .wallet {
      @extend %derivedStat-block;
      .title, .value {
        background-color: $block-value-background-colour;
      }
    }
  }
  .inlineTextEditor {
    width: 100%;
    input {
      width: 100%;
    }
  }
}