@import '../styles';
@import '../../../styles';
@import '../../../../mediaQueries';

$group-padding: 0.1em;

.createCharacter.DnD {
  background-color: $background-colour;
  margin-top: $standard-margin-top;
  padding: $container-padding;
  .createPair {
    display: flex;
    flex-direction: column;
    padding: $group-padding;
  }
  .statPair {
    .input-group {
      display: flex;
      flex-direction: column;
      .form-control {
        width: 100%;
      }
    }
    .name {
      width: 100%;
      font-size: 60%;
      margin-left: 0;
      margin-right: 0;
    }
    .value {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      .col {
        padding-left: 0;
        padding-right: 0;
      }
      .modifier {
        justify-content: center;
      }
    }
    .value input {
      text-align: center;
    }
  }
  .submit {
    justify-content: flex-end;
  }
  .skillProficiencies {
    .skillProficienyCol {
      padding: 0;
      .skillProficiencyLabel {
        width: 100%;
        @extend %input-form-block;
        margin: 0;
        .value {
          width: 20%;
          align-self: center;
        }
        .name {
          width: 80%;
          .input-group-text {
            width: 100%;
            font-size: 65%;
          }
        }
      }
    }
  }
}