@import '../styles';
@import '../../../styles';
@import '../../../../mediaQueries';

$group-padding: 0.1em;

.createCharacter.Malifaux {
  background-color: $background-colour;
  margin-top: $standard-margin-top;
  padding: $container-padding;
  .input-group-text {
    @extend %block-name;
  }
  .form-control {
    @extend %block-value;
  }
  .createPair {
    display: flex;
    flex-direction: column;
    padding: $group-padding;
  }
  .statPair {
    .input-group-text {
      min-width: 7.3em;
    }
  }
  .skillsBlock {
    padding: 0;
    .addSkillBar {
      @extend %block-name;
      padding: 0.25em 0.75em;
      justify-content: space-between;
      &.noText {
        justify-content: flex-end;
      }
      .addNewSkillIcon {
        font-size: 150%;
        cursor: pointer;
      }
    }
    .addSkillBlock>.col {
      padding: 0
    }
    .addSkillSet {
      width: 100%;
      padding: 0.25em 0;
      margin: 0;
      .addSkillCol {
        padding: $group-padding;
        &.addSkillActionsCol {
          height: 100%;
          .addSkillActions {
            padding: 0;
            margin: 0;
            background-color: $block-name-background-colour;
            justify-content: center;
            height: 2.25em;
            width: 100%;
            .skillActionIcon {
              display: block;
              margin: auto;
              font-size: 150%;
              color: $background-colour;
              &.internal {
                color: $block-name-background-colour;
              }
            }
          }
        }
      }
      .addTriggerSet {
        margin-top: $group-padding;
        .name {
          padding-right: $group-padding;
        }
        .suit {
          padding-left: $group-padding; 
          padding-right: $group-padding; 
        }
        .description {
          padding-right: 0;
        }
        .suitSelection {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          padding: 0;
          margin: 0;
          .suitPair {
            padding: 0;
            &>label {
              display: flex;
              flex-direction: row;
              align-items: center;
              margin: 0;
              .suitIcon {
                font-size: 200%;
              }
            }
          }
        }
        .name, .suit, .description {
          margin-top: $group-padding
        }
      }
      @media (max-width:$mediaquery-small) {
        .addSkillCol {
          padding-bottom: $group-padding;
          padding-left: 0;
          padding-right: 0;
          .input-group-prepend {
            width: 50%;
          }
          &.addSkillRankCol {
            padding-right: $group-padding;
          }
          &.addSkillActionsCol {
            padding-left: $group-padding;
          }
        }
        .addTriggerSet {
          margin-top: $group-padding;
          .name, .suit, .description {
            padding: 0;
            margin-top: 0;
          }
          .input-group-prepend {
            width: 35%;
          }
        }
      }
    }
  }
  .submit {
    margin-top: 1em;
    justify-content: flex-end;
  }
}