@import '../styles';
@import '../../../../mediaQueries';

$modifier-border-radius: 2em;

.characterStats.DnD {
  @extend %backed-group;
  justify-content: space-around;
  .statDataPair {
    background: $block-value-background-colour;
    border: $block-border-width $block-border-style $block-border-colour;
    border-radius: $block-border-radius;
    margin-bottom: $group-padding;
    @media (max-width:$mediaquery-small) {
      margin: $group-padding;
    }
    * {
      justify-content: center;
    }
    .name {
      font-size: 0.6em;
      font-weight: bold;
      padding-top: 0.6em;
    }
    .value {
      font-size: 1.8em;
    }
    .modifier {
      padding: 0;
      border: $block-border-width $block-border-style $block-border-colour;
      border-radius: $modifier-border-radius;
      max-width: 2em;
      font-size: 0.9em;
    }
  }
}