@import '../styles';

$toggle-background-colour: rgb(177, 177, 177);
$toggle-padding: 0.5em;

.manageRuleSets {
  padding: $container-padding;
  .createRuleSet {
    background-color: $toggle-background-colour;
    border-radius: $standard-border-radius;
    .createRuleSetToggle {
      border-bottom: $standard-border-size $standard-border-style $standard-border-colour;
      border-bottom-left-radius: $standard-border-radius;
      border-bottom-right-radius: $standard-border-radius;
      padding: $toggle-padding;
    }
    .createRuleSetToggleTitle {
      justify-content: flex-start;
    }
    .createRuleSetToggleIcon {
      justify-content: flex-end;
      font-size: 1.5em;
    }
    .createRuleSetToggleIconSVG {
      @include translation(.3s, ease)
    }
    .createRuleSetToggleIconSVG.up {
      @include transformation(rotate(180deg))
    }
    form {
      padding: $toggle-padding;
      .submit {
        padding: $toggle-padding;
        justify-content: flex-end;
      }
    }
  }
}