@import '../styles';

.characterActionsHeader {
  padding-top: $container-padding;
  padding-left: $container-padding;
  padding-right: $container-padding;
  background-color: $standard-utility-background-color;
  border-bottom-left-radius: $standard-border-radius;
  border-bottom-right-radius: $standard-border-radius;
  .characterActionsPanel {
    justify-content: flex-end;
    padding: 0;
    font-size: 2em;
    .characterAction {
      max-width: 1.5em;
      padding-left: 0.25em;
      padding-right: 0.25em;
      .characterActionIcon {
        cursor: pointer;
        display: block;
        margin: auto;
        &.internal {
          color: $standard-utility-background-color;
          font-size: 55%
        }
      }
    }
  }
}
  .modal-body {
    .col {
      padding-bottom: $container-padding;
    }
    .row {
      justify-content: center;
      text-align: center;
    }
  }